<div class="row">
	<div class="span12">

		<h1>Jobs and Opportunites</h1>
		<p>The Web Development club cators to verified employers from Toronto looking for students to assist with part time development work. We seek to create an environment where third parties can post jobs positions for members in the Web Development Club to access.</p>

		<p>The Web Development Club takes no liabilities for the offers posted on its forms. The third party and members are encouraged to verify their agreements. The club will not participate in any negociations </p>


	</div>
</div>

<% arry = Array.new(['2A', '2B', '2C']) %>
<% arry2 = Array.new(['tab-pane active', 'tab-pane', 'tab-pane']) %>
<% i = 0 %>

<div class="row">
  <div class="span12">
    <h1>Section is Under Development</h1>
  </div>

</div>
<!--
<div class="row">
	<div class="span12">
		<h2>Current Jobs</h2>
		<div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#2A" data-toggle="tab">Job #1</a></li>
               <li class=""><a href="#2B" data-toggle="tab">Job #2</a></li>
               <li class=""><a href="#2C" data-toggle="tab">Job #3</a></li>
            </ul>

    <div class="tab-content">
        
        <% @jobPosts.each do |post| %>

            <div class='<%= arry2[i] %>' id='<%= arry[i] %>'>
                <h4><%= post.title %></h4>
                <p><%= post.contact %></p>
                <p><%= post.content %></p>
            </div>
            <% i = i + 1 %>
          
        <% end %>

    </div>
            
    </div>
  </div>
</div>
</div>
-->