<div class="span5">

    <div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
              News Updates
        </div>  
                
        <div class="panel-content">
            Here are all the News Updates, reminders submitted by the department and various Computer Science Leaders. <br>
        </div>
    </div>

    <br>
    <style>
        .hidden_class {
            display: none;
        }
    </style>

    <script>
        var top_element = 0
        var bottom_element = <%= @jobPosts.length %> * 2;
        var iterator_start = 0;
        var iterator_end = 21;

        var page_number = 1;

        function navdirection(direction){
            var jobPosts = document.getElementById("jobPosts").childNodes;
            if (direction == 1 && iterator_end < bottom_element){
                iterator_start += 20;
                iterator_end += 20;
                page_number += 1;
                document.getElementById("pagenumber").innerHTML = page_number
            } else if (direction == 0 && iterator_start > top_element){
                iterator_start -= 20;
                iterator_end -= 20;
                page_number -= 1;
                document.getElementById("pagenumber").innerHTML = page_number
            }  else {
                console.log("Do nothing");
            }
                        
            for (i=0; i<jobPosts.length; i++){
                if (i > iterator_start && i < iterator_end) {
                    jobPosts[i].className = ""
                } else {
                    jobPosts[i].className = "hidden_class";
                }
            }

        }

        function initialize(){
            var jobPosts = document.getElementById("jobPosts").childNodes;
            var top_element = 0;
            var bottom_element = 21;
            var initalized = 0;
            console.log("loaded");

            for (i=0; i<jobPosts.length; i++){

                if (i > top_element && i < bottom_element) {
                    jobPosts[i].className = ""
                } else {
                    jobPosts[i].className = "hidden_class";
                }
            }


            $("a").click(function(){

                console.log($(this).attr('id'));

                var jobPosting = document.getElementById("posts").childNodes;

                for(i=0; i<jobPosting.length; i++){
                    if (jobPosting[i].className == "selected"){
                        jobPosting[i].className = "hidden_class";
                    }

                    if (jobPosting[i].id == $(this).attr('id')){
                        jobPosting[i].className = "selected";
                    }
                }

            });

        }

        $(document).ready(initialize);
        $(document).on('page:load', initialize);

    </script>

    <ul id="jobPosts" class="nav nav-tabs nav-stacked" onload="initialize()">

        <% @jobPosts.each do |post| %>
            <% if post.approval_status %>
                <li><a id="<%= post.id %>" ><%= post.item_title %></a></li>
            <% end %>
        <% end %>

    </ul>

<div class="row">
    <div class="span1 offset1">
        <button id="prev" class="btn" onclick="navdirection(0)">Prev</button>
    </div>

    <div id= "pagenumber" class="span1" style="text-align:right">1</div>

    <div class="span1 offset1">
        <button id="next" class="btn" onclick="navdirection(1)">Next</button>

    </div>
</div>

             
</div>

<div class="span5">

    <div class="panel">
        <div class="panel-header">
            News Updates
        </div>

        <div class="panel-content" id= "posts">
            <% @jobPosts.each do |post| %>
                <% if post.approval_status %>
                    <div id="<%= post.id %>" class="hidden_class">
                        <h2><%= post.item_title %></h2>
                        <p>Date: <%= post.item_date %></p>
                        <p><a href="<%= post.item_url %>" >Link to the Event</a><p>
                        <div style ="height:417px;word-wrap: break-word;overflow-x:hidden">Content: <%= post.item_text.html_safe %></p>
                        </div>
                        <br>
                    </div>
                <% end %>
            <% end %>
        </div>
             
    </div>
</div>
