<div class="row">
	<div class="span6">
		<h1> Sign In </h1>
		<%= form_for(:session, url: sessions_path) do |f| %>

			<%= render :partial => "shared/error_messages" if @currentPage[:usererror] == "true" %>
			
			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<br>
			<br>

			<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
		<% end %>

	</div>



</div>