<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello, <%= @user.name %></h2>
    <p>Web Club Automated Email System</p>
    
    <br>
    <h2>Club Meetings</h2>

    <% @clubPosts.each do |post| %>
      <h4><%= post.title %></h4>
      <p><%= post.content %></p>
    <% end %>
    <br>

    <h2>YNCN Event Post</h2>

    <% @YNCNPosts.each do |post| %>
      <h4><%= post.title %></h4>
      <p><%= post.contact %></p>
      <p><%= post.content %></p>
    <% end %>

    <p>Thanks, <br>
    Web Development Club</p>
  </body>
</html>