<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>The contents of this email is generated using your settings on your user account</p>

    <br>
    <h2><%= @meeting.title %>
    <p><%= @meeting.date %></p>
    <p><%= @meeting.content %></p>
    <br>

    <h2>Job Posts</h2>

    <% @jobPosts.each do |post| %>
      <h4><%= @post.title %>
      <p><%= @post.contact %></p>
      <p><%= @post.content %></p>
      <br>
    <% end %>

    <p>Thanks, <br>
    Web Development Club</p>
  </body>
</html>