<script type="text/javascript">$(initSummernote);</script>

 <div class="span5">

    <style>
        .css_text {
            width: 85%;
        }
    </style>

    <div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
            Hello Admin
        </div>  
                    
        <div class="panel-content">
            Hello Admin.

            <br><br>
            <%= button_to "Sign Out", '/signout', {:class => "large"} %>
        </div>
    </div>

    <br>          
</div>

 <div class="span5">

    <div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
            Requests for Content Creator
        </div>  
                    
        <div class="panel-content">
            <% if !(@users.empty?) %>
            	<% @users.each do |user| %>
            		<b><p><%= user.name %></p></b>
    				<p><%= user.email %></p>   
                    <p><%= link_to "delete", users, method: :delete %></p>
                    <p><%= user.email_confirmation_token %></p>          
    			<% end %>
            <% end %>

        </div>
    </div>

    <br>          
</div>



