<div class="row">
	<div class="span12">
		<h1>Admin Panel</h1>
	</div>

<<<<<<< HEAD
	<div class="span12">
		<% @users.each do |user| %>
      		<h4><%= user.name %></h4>
      		<p><%= user.email %></p>
    	<% end %>
	</div>

	<%= button_to "Sign Out", '/signout', {:class => "btn btn-large btn-primary"} %>
=======
	<div class = "span12">
		<% @users.each do |user| %>

	        <h4><%= user.name %></h4>
	        <p><%= user.email %></p>
	        <br>
	          
	    <% end %>
	</div>
>>>>>>> 57f45af873f83b40ccf6963a7317351c0cd80b6d

</div>

</div>