<script type="text/javascript">$(initSummernote);</script>

 <div class="span5">

    <style>
        .css_text {
            width: 85%;
        }
    </style>

    <div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
            Hello Admin
        </div>  


                    
        <div class="panel-content">
            Hello Admin.
            <br><br>
            The number of confirmed users is <%= @confirmed_users %>

            <br><br>
            <%= button_to "Sign Out", '/signout', {:class => "large"} %>
        </div>
    </div>

    <br>          
</div>

 <div class="span5">

    <div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
            Current Users
        </div>  
                    
        <div class="panel-content">
            <% if !(@users.empty?) %>
                <% @users.each do |user| %>
                    <% if !user.admin %>
                	   <p><b><%= user.name %></b><br>
        				<%= user.email %><br>
                        <%= link_to "delete", user, method: :delete %></p>   
                    <% end %>  
        		<% end %>
            <% end %>

        </div>
    </div>

    <br>          
</div>



