 <script type="text/javascript">

$(initSummernote)</script>

 <div class="span5">

    <style>
        .css_text {
            width: 85%;
        }
    </style>

    <div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
            Hello <%= @user.name %>
        </div>  
                    
        <div class="panel-content">
            <% if @user.content_approved %>
            	<p>You're account has approved by the admin.</p><br>

                <%= form_for Feedbank.create, url: items_path do |f| %> 

                    <%= f.label :item_title %>
                    <%= f.text_field :item_title, placeholder: "Title of Post", :class => "css_text"  %>

                    <%= f.label :item_url %>
                    <%= f.text_field :item_url, :size=>"150", :class => "css_text"  %>

                    <%= f.label :item_date %>
                    <%= f.text_field :item_date, :size=>"150", :class => "css_text"  %>

                    <%= f.label :column_type %>
                    <%= f.text_field :column_type, :size=>"150", :class => "css_text"  %>
                    <br>

                    <%= f.label :item_text %>
                    <%= f.text_area :item_text, :rows => "6", placeholder: "Event Message", :class => "css_text", input_html: { class: 'summernote', id: "jobInfoInput"} %>

                    <br>

                    <%= f.submit "Add New Post", class: "large" %>

                    <br>

            <% end %>
            <% elsif %>
            	You're request for a content creator account is pending. Your current posts will be posted on the boards when your approval has been approved by the admin.

                <br><br>

                <div class="alert alert-error">
                    Content Creators may only make posts after the Admin has approved their Account.
                </div>

            <% end %>
            
            <br><br>


			<%= button_to "Sign Out", '/signout', {:class => "large"} %>

        </div>
    </div>

    <br>          
</div>

 <div class="span5">

    <div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
            Current Posts
        </div>  
                    

    </div>

    <br>          
</div>



