 <script type="text/javascript">

$(initSummernote)</script>

 <div class="span5">

    <style>
        .css_text {
            width: 85%;
        }
    </style>

    <div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
            Hello <%= @user.name %>
        </div>  
                    
        <div class="panel-content">
            <br>
            <% if @user.content_approved %>
            	You're account is approved by the admin. All your future posts will be linked directly to our boards. Please note, the Admin reserves the right to suspend your posting privileges if the content becomes unprofessional.

                <%= form_for Feedbank.create, url: items_path do |f| %> 

                    <%= f.label :title %>
                    <%= f.text_field :title, :size=>"150", placeholder: "Title of Post", :class => "css_text"  %>

                    <%= f.label :contact %>
                    <%= f.text_field :contact, :size=>"150", :value => @user.email, :class => "css_text"  %>

                    <%= f.hidden_field :owner, :value => @user.name %>
                    <%= f.hidden_field :type_of, :value => "JobPost" %>
                    <br><br>


                    <br><br>

                    <%= f.label :content %>
                    <%= f.text_area :content, :rows => "6", placeholder: "Event Message", :class => "css_text", input_html: { class: 'summernote', id: "jobInfoInput"} %>

                    <br><br>

                    <%= f.submit "Add New Post", class: "large" %>

                    <br>

            <% end %>
            <% elsif %>
            	You're request for a content creator account is pending. Your current posts will be posted on the boards when your approval has been approved by the admin.

                <br><br>

                <div class="alert alert-error">
                    Content Creators may only make posts after the Admin has approved their Account.
                </div>

            <% end %>
            
            <br><br>


			<%= button_to "Sign Out", '/signout', {:class => "large"} %>

        </div>
    </div>

    <br>          
</div>

 <div class="span5">

    <div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
            Current Posts
        </div>  
                    

    </div>

    <br>          
</div>



