<div class="span5">

	<div class="panel">
        <div class="panel-header">
            Sign Up
        </div>
 		<div class="panel-content">
			<%= form_for(@user) do |f| %>

				<%= render :partial => "shared/error_messages" if @currentPage[:usererror] == "true" %>

				<%= f.label :name %>
				<%= f.text_field :name %>

				<%= f.label :email %>
				<%= f.text_field :email %>

				<%= f.label :password %>
				<%= f.password_field :password %>

				<%= f.label :password_confirmation, "Confirmation" %>
				<%= f.password_field :password_confirmation %>

				<br>

				<%= f.submit "Create my Account", class: "large" %>
			<% end %>
		</div>
	</div>

</div>

<div class="span5">

	<div class="panel">
        <div class="panel-header">
            Sign In
        </div>
 		<div class="panel-content">

 			<br><br><br><br><br><br>
			<p>Already created an account? Sign in</p>

			<br><br><br><br><br>

			<%= button_to "Sign In", '/signin', {:class => "large"} %>
		</div>
	</div>

</div>
