<div class="span5">

	<div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
            Sign Up
        </div>
 		<div class="panel-content">
			<%= form_for(@user) do |f| %>

				<%= render :partial => "shared/error_messages" if @currentPage[:usererror] == "true" %>

				<%= f.label :name %>
				<%= f.text_field :name %>

				<%= f.label :email %>
				<%= f.text_field :email %>

				<%= f.label :password %>
				<%= f.password_field :password %>

				<%= f.label :password_confirmation, "Confirmation" %>
				<%= f.password_field :password_confirmation %>

				<br>

				<%= f.submit "Create my Account", class: "large" %>
			<% end %>
		</div>
	</div>

	<br>
	<div class="panel">
        <div class="panel-header bg-darkRed fg-white">
            Sign In
        </div>
 		<div class="panel-content">

 			<br>
			<p>Already created an account? Sign in</p>

			<br>
			<%= button_to "Sign In", '/signin', {:class => "large"} %>
		</div>
	</div>

</div>

<div class="span5">

    <div class="panel">
        <div class="panel-header">
            Sign Up Information
        </div>
                
        <div class="panel-content">

        	<h5><i class="icon-mail"></i> Signing Up</h5>
                
            Signing up for the Web Development Club mailing system will give individuals access to customizable emails with job and event informations. Signing up takes less than one minute and individuals may delete their account at any time.<br><br>

            <h5><i class="icon-file"></i> Research and Entrepreneurship Expo</h5>
                
            In addition, individuals may also participate in Janurary's Research and Entrepreneuership Expo. For more information, check the Research and Entrepreneur Expo tab on the sidebar<br><br>

            <h5><i class="icon-lines"></i> Job and Event Board</h5>
                
            Individuals do not need to sign up for access to our job and event board. We do not own the information on the board.<br><br>

            <h5><i class="icon-location"></i> Contact</h5>
                
            For complaints regarding the mailing system, please contact: <br>
            Alan Yuan<br>
            alan.yuan@mail.utoronto.ca<br><br>

        </div>
    </div>
             
</div>