<div class="row">
	<div class="span6">
		<h1>Sign Up</h1>
		<%= form_for(@user) do |f| %>

			<%= render :partial => "shared/error_messages" if @currentPage[:usererror] == "true" %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<br>

			<%= f.submit "Create my Account", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>

	<div class="span6">

		<h1> Sign In </h1>

		<br>

		<p>Already created an account? Sign in</p>

		<br>

		<%= button_to "Sign In", '/signin', {:class => "btn btn-large btn-primary"} %>


	</div>


</div>