<div class="span5">

	<div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
            Sign Up
        </div>
 		<div class="panel-content">
			<%= form_for(@user) do |f| %>

				<%= render :partial => "shared/error_messages" if @currentPage[:usererror] == "true" %>

                <%= f.label :email %>
                <%= f.text_field :email %>

				<%= f.label :name %>
				<%= f.text_field :name %>

				<%= f.label :password %>
				<%= f.password_field :password %>

				<%= f.label :password_confirmation, "Password Confirmation" %>
				<%= f.password_field :password_confirmation %>

				<br>

				<%= f.submit "Create my Account", class: "large" %>
			<% end %>
		</div>
	</div>

	<br>
	<div class="panel">
        <div class="panel-header bg-darkRed fg-white">
            Sign In
        </div>
 		<div class="panel-content">

 			<br>
			<p>Already created an account? Sign in</p>

			<br>
			<%= button_to "Sign In", '/signin', {:class => "large"} %>
		</div>
	</div>

</div>

<div class="span5">

    <div class="panel">
        <div class="panel-header">
            Sign Up Information
        </div>
                
        <div class="panel-content">

        	<h5><i class="icon-mail"></i> For Students:</h5>
                
            Signing up for the Web Development Club mailing system will give individuals access to customizable emails with job and event informations. <br><br>

            <h5><i class="icon-file"></i> For Companies:</h5>
                
            Companies may request for a special posting account immediately after signing up giving them access to post job offers and events for Computer Science Students.<br><br>

            <h5><i class="icon-lines"></i> For Clubs:</h5>
                
            Clubs may also request for a special posting account to post their events on the Computer Science Events Section of the Webpage.<br><br>

            <h5><i class="icon-cog"></i> For Academics and administrators:</h5>
                
            Academics and administrators may also request for a special posting account which gives them unlimited access to post job offers, events and any anouncements for the Computer Science Students.<br><br>

            <h5><i class="icon-location"></i> Contact</h5>
                
            For complaints regarding the mailing system, please contact: <br>
            Alan Yuan<br>
            alan.yuan@mail.utoronto.ca<br><br>

        </div>
    </div>
             
</div>