<div class="row">
	<div class="span12">
		<h1>YNCN Private Administrative Panel</h1>

	</div>
</div>

<div class="row">

	<div class="span6">
		<h4>Message to YNCN:</h4>

		<p>The Web Development Club would like to invite You're Next Career Network to add their 
			future events onto our mailing system. The YNCN events will be mailed.</p>

		<br>

		<h4>Add New YNCN Event</h4>
		<%= form_for Item.create, url: items_path do |f| %> 

				<%= render :partial => "shared/error_messagesitems" if @currentPage[:usererror] == "true" %>

			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :contact %>
			<%= f.text_field :contact %>

			<%= f.label :information %>
			<%= f.text_area :information, :rows => "5" %>

			<%= f.hidden_field :type_of, :value => "YNCNPost" %>

			<%= f.submit "Add YNCN Event", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>

	<% arry = Array.new(['2A', '2B', '2C', '2D', '2E', '2F', '2G']) %>
	<% arry2 = Array.new(['Page 1', 'Page 2', 'Page 3', 'Page 4', 'Page 5', 'Page 6', 'Page 7']) %>
	<% arry3 = Array.new(['tab-pane active', 'tab-pane', 'tab-pane', 'tab-pane', 'tab-pane' ,'tab-pane', 'tab-pane']) %>
	<% arry4 = Array.new(['active', '', '', '', '' ,'', '']) %>
	<% i = 0 %>
	<% j = 0 %>

	<div class="span6">

		<h4>Current Posts by YNCN</h4>

		<div class="tabbable">

			<% length = (@items.length.to_f / 6.to_f).ceil %>

			<ul class="nav nav-tabs">
				<% while i < length %>
					<li class="<%= arry4[i] %>"><a href='<%= "#" + arry[i] %>' data-toggle="tab"><%= arry2[i] %></a></li>
					<% i = i + 1 %>
				<% end %>	
			</ul>

			<div class="tab-content">
				<% @items.in_groups_of(6, false) do |batch| %>

					<div class='<%= arry3[j] %>' id='<%= arry[j] %>'>
						<% batch.each do |items| %>	
							<h4><%= items.title %></h4>
							<p><b>Contact: </b><%= items.contact %></p>
							<p style="white-space:pre-wrap;"><%= items.information %></p>
							<%= link_to "delete", items, method: :delete %>
							<hr>
						<% end %>
					</div>

					<% j = j + 1 %>
				<% end %>

			</div>

		</div>

		<%= button_to "Sign Out", '/signout', {:class => "btn btn-large btn-primary"} %>

		</div>

	</div>

</div>