<div class="row">
	<div class="span6">
		<h1>YNCN Post</h1>
		<%= form_for(@item, remote: true) do |f| %> 

			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :contact %>
			<%= f.text_field :contact %>

			<%= f.label :content %>
			<%= f.text_area :content, :rows => "4" %>

			<br>

			<%= f.submit "Add YNCN Event", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>


</div>