<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Web Development Club</title>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		 <meta charset="UTF-8">
		<meta name="description" content="Homepage of UofT's Web Development Club and prototype of a condensed email based mailing system">
		<meta name="keywords" content="UofT, Web, Development, Club, Computer, Science,
		HTML, email, CSS, Javascript, Mailing">
		<meta name="author" content="Web Club Developers">

		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

		<meta property="og:type" content="activity" />

		<meta property="og:description" content="Homepage of UofT's Web Development Club and prototype of a condensed email based mailing system" />

		<meta property="og:image" content="http://i.imgur.com/9m8X8Xy.jpg" />
		<meta property="og:image:secure_url" content="https://www.dropbox.com/s/6x6n8quh6fspj5g/web_logo.jpg?dl=0" />
		<meta property="og:image:width" content="200" />
		<meta property="og:image:height" content="200" />

	</head>
    <body class="metro">

    	<div class="container">

	    	<div class="grid">

	    		<div class="row" >
			        <div class="span4">
				    	<nav class="sidebar" style="height:650px;">
						    <ul>
						        <li class="title">Web <br>&nbsp;Development <br>&nbsp;&nbsp;Club</li>

						        <li class="<%= @currentPage[:home] %> stick bg-yellow"><%= link_to "<i class='icon-home'></i>Introduction".html_safe, "/home" %></li>

						        <li class="<%= @currentPage[:developer] %> stick bg-red"><%= link_to "<i class='icon-cog'></i>Club Developers".html_safe, "/developer" %></li>

						        <li class="stick bg-green"><%= link_to "<i class='icon-mic'></i>Facebook Page".html_safe, " https://www.facebook.com/pages/Uoft-Web-Development-Club/571896212842252", :target => 'new' %></li>

						        
						        <!-- Computer science Section -->
						        <li class="title">Computer Science</li>

						        <li class="<%= @currentPage[:events] %> stick bg-red"><%= link_to "<i class='icon-cog'></i>Computer Science Events".html_safe, "/event" %></li>

						         <li class="<%= @currentPage[:useraccount] %> stick bg-green"><%= link_to "<i class='icon-mail'></i>".html_safe + @user_name, "/useraccount" %></li>

						         <li class="<%= @currentPage[:entrepreneur] %> stick bg-yellow"><%= link_to "<i class='icon-home'></i>Research & Entrepreneur Expo".html_safe, "/entrepreneur" %></li>

						         <li class="<%= @currentPage[:jobs] %> stick bg-red"><%= link_to "<i class='icon-newspaper'></i>Jobs and Opportunities".html_safe, "/jobs" %></li>

						    </ul>
						</nav>
					</div>

					<%= yield %>


				</div>
			</div>

		</div>

    </body>
</html>