<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Web Development Club</title>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

	</head>
    <body class="metro">

    	<div class="container">

	    	<div class="grid">

	    		<div class="row" >
			        <div class="span4">
				    	<nav class="sidebar" style="height:650px;">
						    <ul>
						        <li class="title">Web <br>&nbsp;Development <br>&nbsp;&nbsp;Club</li>

						        <li class="<%= @currentPage[:home] %> stick bg-yellow"><%= link_to "<i class='icon-home'></i>Introduction".html_safe, "/home" %></li>

						        <li class="<%= @currentPage[:developer] %> stick bg-red"><%= link_to "<i class='icon-cog'></i>Developers".html_safe, "/developer" %></li>

						        <li class="stick bg-green"><a href="https://www.facebook.com/pages/Uoft-Web-Development-Club/571896212842252"><i class="icon-mic"></i>Facebook Page</a></li>

						        
						        <!-- Computer science Section -->
						        <li class="title">Computer Science</li>
						        <li class="stick bg-red"><a href="#"><i class="icon-newspaper"></i>Computer Science Events</a></li>

						      	<li class="<%= @currentPage[:useraccount] %> stick bg-green"><a href="#"><i class="icon-mail"></i>Mail Login</a></li>

						        <li class="<%= @currentPage[:entrepreneur] %> stick bg-yellow"><a href="#"><i class="icon-lines"></i>Entrepreneur & Research Expo</a></li>

						        <li class="<%= @currentPage[:jobs] %> stick bg-red"><a href="#"><i class="icon-newspaper"></i>Jobs and Opportunities</a></li>
						    </ul>
						</nav>
					</div>

					<%= yield %>


				</div>
			</div>

		</div>

    </body>
</html>