<!DOCTYPE html>
<html lang="en">
	<head>
		<title>U of T Web Dev Users</title>
		<meta name="UofT" content="width=device-width, initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">

			<div class="row">
				<div class="span4">
					<%= image_tag("Logo-01.png", height: '820') %>
				</div>


				<div class="span8">
					
				</div>
			</div>

			<div class="row">
				<div class = "span12">
					<%= yield %>
				</div>
			</div>

			<div class="footer">
				<p>
					&copy; U of T Web Development club 2013
				</p>
			</div>

			<div class="hide">
				<span id="var_currentPage"></span>				
			</div>

		</div>
	</body>
</html>